[Unit]
Description=Paperframe Refresh Display
Wants=network-online.target
Requisite=paperframe.service

[Service]
Restart=no
Type=oneshot
RemainAfterExit=no
ExecStart=/home/paperframe/paperframe current
SuccessExitStatus=0
