[Unit]
Description=Paperframe Service
After=raspi-config.service
Wants=network-online.target

[Service]
Type=exec
ExecStart=/home/paperframe/paperframe service
RemainAfterExit=no
SuccessExitStatus=0
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
